html, body {
    padding: 0em;
    margin: 0em;
    color: rgb(85, 86, 90);
    
    font-family: Pembroke, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(85, 86, 90);
    
    background-color: aliceblue;
    text-align: 
}

main {
    max-width: 960px;
    position: relative;
    margin: auto; 
    margin-bottom: 10em;
    background-color: white;
    height: 20em;
}

h2 {
    font-family: Arial;
    margin: 0em;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
}

/*header, deze codespreekt alles in de header aan o.a. de nav*/
header {
    
    
background: linear-gradient(to left, rgb(0, 0, 0,0.0), rgb(0, 0, 6, 0.1)), url(bigben.jpg), no-repeat center; 
background-size: cover; 
    
    
   /* background:url(londen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: linear-gradient(#004092, transparent);*/
    
    
    /*padding-top: 4em;
    padding-right: 2em;
    padding-left: 2em;*/
    margin-top: 0em;
    margin-bottom: 2em; 
    border-bottom: 0.3em solid rgb(36, 181, 201);
    padding-bottom: 7em;
    
    
}

header h1{
    padding-left:2em;    
    color: white;

}

header p {
    padding-left:4em;
    color: white;
}


nav {
    background: rgb(6, 24, 61);
    color: white; 
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    height: 3em;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    max-width: 960px;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    vertical-align:bottom;

}

nav ul li:hover{
    background-color: rgb(36, 181, 201);
}


nav a {
    margin-left: 2em;
}

nav img{
    width:40%;
    min-width: 6em;
    margin-right: 2em;
}

/*aanbevolen verhaal*/

section:first-of-type{
    background-image:url(laptop-01.png);
    height: 10em;
    background-size: cover;
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 0.5em;

}

/*sorteren en filteren*/

button{
    display:block;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    width: 20em;
    display: flex;
    justify-content: space-around;
}

/*verhalen */

a {
    text-decoration: none;
    color: #fff;
    
}

main a {
     display: flex;
    justify-content: space-around;
}

/*buttons*/

button{
    padding: 1em;
    border: none;
    text-align: center;
    margin: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;

}

button:first-of-type{
    background-color:indianred;
    color: white;
}

button:first-of-type:hover{
    background-color: darkred;
}

button:nth-of-type(2){
    background-color:skyblue;
    color: white;
}

button:nth-of-type(2):hover{
    background-color: darkblue;
}


/*footer*/

footer h6 {
    background-color:rgb(6, 24, 61);
    padding: 2em;
    border: 2em;
    margin-top: 2em;
   /* margin-left: 2em;
    margin-right: 2em;*/
    text-align: center;
    color: #fff;
    font-size: 60%;
}